
<div class="container">
    <div class="row">
        <!-- ##### Post Content Area ##### -->
        <div class="single-blog-area blog-style-2 mb-50">
            <div class="single-blog-thumbnail"> <img src="@Url.Content("~/")img/bg-img/aimen_slide2.jpg" alt=""> </div>
            <div class="single-blog-area blog-style-2 mb-50">
                <div class="single-blog-thumbnail"> <img src="@Url.Content("~/")img/bg-img/aimen_slide3.jpg" alt=""> </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <!-- Single Blog Area  -->
            <div class="single-blog-area blog-style-2 mb-50">
                <!-- Blog Content -->
                <div class="single-blog-content">
                    <div class="line"></div>
                    <a href="#" class="post-tag">Penghu Traveler</a>
                    <h4><a href="#" class="post-headline mb-0">隘門沙灘</a></h4>
                    <p>位在澎湖縣湖西鄉的隘門沙灘，是遊客來澎湖必去的景點之一，蔚藍的海水搭配蜿蜒乾淨的貝殼沙灘，有種來到度假勝地馬爾地夫的既視感，雖然疫情期間不能出國度假，但不妨也可以選擇到澎湖走走，拍照打卡，偽出國一下。隘門沙灘的海域相較於澎湖其他沙灘平靜且安全許多，因此許多人都會選擇來隘門沙灘玩水上活動，這邊的水上活動也是八面玲瓏，選擇非常多種，從香蕉船到拖曳傘，有許多設施可以暢玩，不敢玩水的人也可以留在沙灘玩排球、休憩，也可以到旁邊的林投公園散步喝喝咖啡，放鬆身心靈。晚上也有BBQ燒烤吃到飽，來到澎湖不吃一下當地的新鮮海鮮說不過去吧~不吃海鮮也有其他肉品可以選擇，在沙灘烤肉應該是蠻機會難得的體驗，也蠻有度假的氣氛！白天玩水，晚上吃燒烤，很適合一家人或一群朋友一天的行程。</p>
                </div>
            </div>
            <div class="navbar navbar-expand-lg navbar-dark bg-primary">
                <nav class="container">
                    <span class="navbar-brand mb-0 h1">留言板</span>
                </nav>
            </div>
            <div class="container">
                <form class="add-comment-form mt-4 mb-4">
                    <div class="form-group">
                        <label for="username">暱稱</label>
                        <input class="form-control" id="username" name="userName" placeholder="請輸入暱稱" maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="useremail">Email</label>
                        <input class="form-control" id="useremail" name="userEmail" placeholder="請輸入Email" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="content">留言</label>
                        <textarea class="form-control" id="content" name="content" rows="8" cols="80" placeholder="想說什麼都可以"></textarea>
                    </div>
                    <div class="alert alert-danger" style="display: none;">請確認所有欄位皆已填寫!</div>
                    <button type="button" class="btn btn-primary" onclick="addComment()">送出</button>
                </form>
                <div class="comments"></div>
            </div>
        </div>

        <!-- ##### Sidebar Area ##### -->
        <div class="col-12 col-md-4 col-lg-3">
            <div class="post-sidebar-area">

                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <form action="#" class="search-form">
                        <input type="search" name="search" id="searchForm" placeholder="Search">
                        <input type="submit" value="submit">
                    </form>
                </div>

                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <h5 class="title">延伸閱讀</h5>
                    <div class="widget-content">

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail"> <img src="@Url.Content("~/")img/blog-img/sq1.jpg" alt=""> </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">澎湖生活</a>
                                <h4><a href="#" class="post-headline">特別的元宵節習俗</a></h4>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail"> <img src="@Url.Content("~/")img/blog-img/sq2.jpg" alt=""> </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">網美景點</a>
                                <h4><a href="#" class="post-headline">澎湖看夕陽好去處</a></h4>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail"> <img src="@Url.Content("~/")img/blog-img/sq3.jpg" alt=""> </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">外島FUN一下</a>
                                <h4><a href="#" class="post-headline">來去南方四島一日遊</a></h4>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail"> <img src="@Url.Content("~/")img/blog-img/sq4.jpg" alt=""> </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">澎湖秘境</a>
                                <h4><a href="#" class="post-headline">天人湖-澎湖人的後花園</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <h5 class="title">標籤</h5>
                    <div class="widget-content col-12">
                        <ul class="tags col-12">
                            <li><a href="#">湖西</a></li>
                            <li><a href="#">網美</a></li>
                            <li><a href="#">沙灘</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>